/* Navbar.css */
.navbar {
  background-color: #121212;
  padding: 15px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #333;
}

.navbar-list {
  display: flex;
  list-style: none;
}

.navbar-list li {
  margin: 0 20px;
}

.navbar-list a {
  color: #00ff00;
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  transition: color 0.3s ease-in-out;
}

.navbar-list a:hover {
  color: #00cc00;
  text-shadow: 0 0 10px #00ff00;
}
