/* Home.css */

/* Container for the Home page */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  text-align: center;
  background-color: #121212;
  margin: 50px auto;
  max-width: 400px;
  border-radius: 15px;
  box-shadow: 0 0 20px #00ff00;
}

/* Heading */
.home-heading {
  font-size: 2rem;
  color: #00ff00;
  text-shadow: 0 0 10px #00ff00;
  margin-bottom: 20px;
}

/* Image container */
.home-image-container {
  margin-bottom: 30px;
}

.predicted-image {
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px #00ff00;
}

/* Features list */
.home-features {
  margin-bottom: 40px;
}

.features-list {
  list-style: none;
  padding: 0;
  font-size: 1.2rem;
  color: #b0b0b0; /* Initial color */
}

.features-list li {
  margin-bottom: 10px;
  position: relative;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  cursor: pointer;
}

/* Glowing and color change animation on hover */
.features-list li:hover {
  color: #00ff00; /* Glowing green on hover */
  text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
}

/* Optional: glowing animation that pulses the text */
@keyframes glowing {
  0% {
    text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
  }
  50% {
    text-shadow: 0 0 20px #00ff00, 0 0 30px #00ff00, 0 0 40px #00ff00;
  }
  100% {
    text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
  }
}

.features-list li:hover {
  animation: glowing 1.5s infinite;
}

/* Call to action buttons */

.glow-button {
  background-color: #00ff00;
  color: #121212;
  border: none;
  padding: 0px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  text-decoration: none;
}

.glow-button:hover {
  background-color: #00cc00;
  box-shadow: 0 0 10px #00ff00;
}

.home-image-container {
  width: 300px; /* Adjust width */
  height: 300px; /* Adjust height */
  margin: 20px auto;
  position: relative;
}

.predicted-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* Smooth transition */
}

.fade-in {
  opacity: 1;
  transform: scale(1);
}

.fade-out {
  opacity: 0;
  transform: scale(1.05); /* Slight scale effect during transition */
}

@keyframes matrix-fade {
  0% {
    opacity: 0;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
