/* Set a consistent global background color */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #121212; /* Matrix dark background */
  color: #b0b0b0; /* Matrix green text */
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
